 body {
        font-family: 'Times New Roman', Times, serif, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        
    }
     
    header {
        background-color: #000000;
        color: white;
        padding: 10px 0;
        text-align: center;
        
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }
    nav ul li {
        display: inline;
        margin: 0 15px;
        
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
    nav ul li a:hover {
        text-decoration: underline;
    }

    section {
        padding: 10px;
    }

    footer {
        background-color: hsl(0, 100%, 99%);;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }
 h2 {
    color: rgb(0,0,0);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px #ffffff;
    
    }
 p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    }
form   {
    background-color: #000000;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;

}

img {
    max-width: 20%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.galeria img {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.cuadros {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.cuadros:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cuadro img {
    display: block;
    height: auto;
    width: 100%;
    filter: brightness(80%);
    transition: filter 0.3s ease;
}
.cuadro img:hover {
    filter: brightness(40%);
}
